requests==2.32.3
dash
plotly
cryptography==44.0.1
scipy
spyder==6.1.1
urllib3==2.6.0
pandas==2.3.2
numpy==2.3.2
ipython==8.28.0
Flask==3.0.3
matplotlib
# sklearn-learn
beautifulsoup4
GitPython
psutil
prettytable
PyQt5
